.main-login-body {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.main-login-div {
  text-align: center;
  margin-top: 0;
  height: 100vh;
  background-color: rgba(31, 78, 233, 0.904);
}
.login-main {
  margin: 7rem;
  height: auto;
  max-width: 26rem;
}
.header {
  margin: 1rem;
  font-size: 20px;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}
label {
  font-weight: 400;
  color: #656d9a;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.auth-login-logo-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
}

.auth-logo-text,
h4 {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  color: #50649c;
}
.text-center {
  text-align: center !important;
}

.login-button {
  border-radius: 0.5rem;
  width: fit-content;
  background-color: #4867f3
}
.input-group {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.auth-form-icon {
  width: 30px;
  height: 30px;
  background-color: #eff2f9;
  text-align: center;
  line-height: 25px;
  border-radius: 10%;
  position: absolute;
  right: 5px;
  z-index: 100;
  top: 3px;
  color: #9ba7ca;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error_text {
  color: #b40e0e;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
