@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.card-main {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card-main:hover {
  transform: scale(1.02);
}

.card_title {
  padding: 1rem;
}

.card_content {
  padding: 0 1rem;
}

.card-div {
  display: flex;
  flex-wrap: wrap;
}

.card_image {
  margin-bottom: -0.8rem;
}

.more_content {
  margin-left: 2.5rem;
  background-color: white;
  border-color: #0000ff;
  color: #0000ff;
}
